.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate forwards
    position: absolute
    top: 17%
    right: 65%
    z-index: -1

  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 42%
    right: 35%

.banner-principal__img
  z-index: 2
        

.cajon.color-secundario:before
  background-color: #4DD0E1

.cajon.color-secundario
  background-color: #0B5999
  p
    color:#F9F7EC

.acordion__titulo  
  color:#0B5999

.acordion__accion__btn--a
  background-color:#0B5999
  i
    color:#F9F7EC

.acordion__activo
  background-color: #EEDCA5

.clr-paleBlue
  background-color: #E3E8F2

.clr--paleBlue
  background-color: #C5E4EF

.clr-Blue
  color: #0B5999

.estiloNuevo
  position: absolute
  top: 30%
  left: 20%
  right: 15%
  
.img-tema2-decorativa-01      
  position: absolute

.col-md-10
  h3
    text-align:left!important    
  p
    text-align:left!important
  ul
    text-align:left!important      


.lista-ol--cuadro__vineta
  background-color:#4DD0E1


.tema2-decorativa-01
  position: absolute
  top: 57%
  right: 11%
  width: 25%

.tema2-decorativa-02
  position: absolute
  top: 75%
  right: 50%
  width: 25%



.imagen-sintesis-1
  position: absolute
  top: 2%
  right: 7%
  width: 7%
 


@keyframes float1
  0%,
  50%,
  100% 
    opacity: 1
    
  25%,
  75%
    opacity: 0

  0%
    transform: translate(70px,-70px)
  100%
    transform: translate(-70px,70px)
  